{{ define "main" }}
<button onclick="window.history.back()"
	class="bg-transparent border-none font-bold">&larr;{{ i18n "back" | title}}</button>
<h1 class="text-center mx-auto max-w-4xl text-4xl sm:text-5xl md:text-6xl">
	{{ .Title }}
</h1>
{{ with .Params.subtitle }}
<h2 class="text-center font-serif font-thin mx-auto mb-16 max-w-4xl text-4xl">
	{{ . }}
</h2>
{{ end }}
<div class="text-justify leading-loose mb-12 text-lg">
	{{ .Content }}
</div>

{{ with .Site.GetPage "/about"}}
{{ range $index, $st := .Resources.ByType "page" }}
    {{ if ne $st.Params.hidden true }}
        {{ $widget := or $st.Params.widget "blank" }}
        {{ $widget_path := printf "widgets/%s.html" $widget}}
        {{ partial $widget_path $st }}
    {{ end }}
{{ end }}
{{ end }}

<hr class="my-6">
{{ partial "contact_icons.html" . }}
<div class="mt-6"></div>

{{ end }}
